/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

/* Legend */
.legend {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover  {
  /*opacity: 1.0;*/
}
.legend-btn.inactive {
  opacity: 0.3;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}
.legend-btn[category="tropical-cyclone"] .legend-symbol {
  background: #E15759;
}
.legend-btn[category="drought-wildfire"] .legend-symbol {
  background: #76B7B2;
}
.legend-btn[category="severe-storm"] .legend-symbol {
  background: #ECD948;
}
.legend-btn[category="flooding"] .legend-symbol {
  background: #59A14F;
}