  body {
      font: 10px sans-serif;
      background-image: url(./Data/free-zoom-backgrounds.svg);
  }
  
  select {
      display: block;
  }
  
  .bar {
      fill: purple;
      opacity: 0.8;
  }
  
  .axis path,
  .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }